<div class="container">
 <div class="row">
   <div>
    <img src="https://images.squarespace-cdn.com/content/v1/56cfa81e356fb0b23f337b72/1457559806476-BK39GLUEKILJNZ6YXJ72/ke17ZwdGBToddI8pDm48kMc5hoE1Y393sjbPQ0OZWDl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmxyXvWKJWcy4t4TJMVJdPetwlpxGOpV0_UpzZm45ROjsyQgfxTnCA6WmFN-4avIKq/ArtFest+Logo+%282%29.jpg?format=1500w"   style="width: 70%;height: 100%; background-repeat: no-repeat; background-size: cover; background-position: center center"> 
   </div>
 </div>
</div>

          