<div class="container col-12">
    <div style="padding: 100px;">
    <form  method="POST">
    <div class="form-group">
      <label for="inputselect">Choose a Event:</label>
      <select name="event" id="event">
        <option value="choose">choose..</option>
      <option value="dance">DANCE</option>
      <option value="mimicry">MIMICRY</option>
      <option value="music">MUSIC</option>
      <option value="drama">DRAMA</option>
    </select>
    </div>
        <button type="submit" class="btn btn-success ">search</button>
      </div>
    </form>
    </div>
    </div>
