<div class="container">
    <form method="POST" style="padding: 100px;">
        <div class="form-group">
          <label for="exampleInputEmail1">NAME</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your Name" name="name"value="<%= result.name %>">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">CLASS</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter your class"name="class" value="<%= result.class %>">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword2">ROLL NO</label>
            <input type="number" class="form-control" id="exampleInputPassword2" placeholder="Enter your rollno"name="rollno" value="<%= result.rollNo %>">
          </div>
          <div class="form-group">
            <label for="inputselect">Choose a Event:</label>
            <select name="event" id="event" value="<%= result.event %>">
                <option value="choose">choose..</option>
              <option value="dance">DANCE</option>
              <option value="mimicry">MIMICRY</option>
              <option value="music">MUSIC</option>
              <option value="drama">DRAMA</option>
            </select>
          </div>
         <div class="mt-5">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
      </form>
</div>
