  
<nav class="navbar navbar-expand-lg navbar-light bg-success  text-white"style=position:fixed;z-index:1;width:100%;>
    <a class="navbar-brand" href="#" style="color: white;">ArtFestivel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="/" style="color: white;">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add" style="color: white;">ADD</a>
              </li> 
         <li class="nav-item">
            <a class="nav-link" href="/search" style="color: white;">SEARCH</a>
          </li> 
      </ul>
    </div>
  </nav>
  